body::-webkit-scrollbar{
	overflow-y: scroll;
	width: 5px;
}
body::-webkit-scrollbar-thumb {
	 border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px black;
} 
#this {
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
 color: blue;

height: 660px;

  
  
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.nav-link
{
	color: #d9d9d9;
font-style: bold;}

.nav-link:hover
	{
		color: black;
	}

/*.justify-content-center{

	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	background-color: #00091a;
	border-radius:2px;


}
*/
.now{
	margin-left: 420px;
}
.nav-item
{padding-bottom: 18px;
	margin-top: 7px;
}

button
{
	

	margin-left: 250px;
	width: 150px;
	margin-top: 5px;
}
#button{
padding-top: 5px;}

.display-3{
	font-size: 60px;
	margin-top: 110px;
	margin-left: -1000px;
	font-weight: bold;
}
.display-4{
	margin-top:10px;
	margin-left: -720px;
	font-weight: bold;
	font-size: 50px;

}
.btn-t
{background-color:transparent;}
.btn-v
{
	margin-left: 2px;
}
.b{
	margin-left: 140px;
}
#pa{
	color: white;
font-family: 'Roboto Slab', serif;
	margin-left: 105px;
font-size: 20px;
}
#section{
	height: 500px;
	background-color: white;
	margin-top: 2000px;
}

@media only screen and (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
#this
{
	width: 100%;
	margin-top:20px;

}
.display-3
{
	font-size: 30px;
	left: 10px;
}



}
@media only screen and (min-width:480px)  {

.this{
	width: 100%;
	margin-top:30 px;
}
.display-3
{
	font-size: 30px;
	color: red;
	margin-left:30 px;
	
}
 /* smartphones, Android phones, landscape iPhone */ }
}
@media only screen and (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media only screen and (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px)
