body
{
	background: url(back.jpg);
	 background-size: cover;
	 overflow: hidden;
	 background-repeat: no-repeat;
}
.header
{
margin-left: 90px;
	margin-top: -60px;
	color:white;
	font-style:bold;
	font-size: 35px;
font-family: 'Domine', serif;
}
.nav-item
{
	padding: 9px;
}

.justify-content-end
{
margin-left: 800px;
}
.navbar
{
	display: flex;
	
}
.nav-link
{color: white;
font-family: 'Cinzel', serif;}
.nav-link:hover
{
color:silver;
}
@media only screen and (max-width: 360px) 
{
	.justify-content-end{
		margin-left: 50px;
	}
	.nav-item
	{
		padding: 5px;
		margin-left: 20px;
	}
	.nav-link{
		font-size: 13px;
	}
	.header{
		margin-left: 10px;
	margin-top: -45px;
	color:white;
	font-style:bold;
	font-size: 20px;
font-family: 'Domine', serif;
	}
}

